body {
  font-family: "Helvetica";
}
hide-warn {
   display: none !important;
   opacity: 0%;
}
input {
   width: 100%;
}
label {
   padding-top: 10px;
   width: 4em;
}
#Title {
  padding-top: 1vh;
}
